__pycache__/
.understand-anything/
checkpoint/
date_utils/__pycache__/
dataset/
demo/
docs/
model/
runtime/
runtime1/
syncnet_ckpt/
*.onnx
*.mp4
specs/
*.pt
*.wav
*.jpg
*.png
*.jpeg
*.mp4
*.mp3
specs/
*.avi
*.mov
*.ogg
*.scp
*.npy
*.flac
*.aac
